<div>
  <p>The .table-bordered class adds borders to a table:</p>
  <a [routerLink]='["/create"]'>Create</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Band</th>
        <th>Attri</th>
        <th>Img</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.band.name}}</td>
        <td>
          <p *ngFor="let prochil of product.productChilViews">
            {{prochil.sizeName +'-'+ prochil.colorName}}
          </p>
        </td>
        <td><img [alt]="product.imgName" width="50" src="http://localhost:58837/upload/{{product.imgName}}"/></td>
        <td><button>Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
