<div>
  <br />
  <a [routerLink]='["/create"]'>Create</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Date</th>
        <th>payMethod</th>
        <th>Address</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.username}}</td>
        <td>{{order.date | date}}</td>
        <td>{{order.paymethod==0 ? 'ship':'not ship'}}</td>
        <td>{{order.address}}</td>
        <td>{{order.total}}</td>
        <td><a routerLink="/order/{{order.id}}">Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
